main{
    background-color:#E1E7EB;
    min-height: 100vh; /*minimo de altura da janela do dispositivo*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > div{
    background-color: var(--cor--azul-claro1) ;
    width: 100%;
    max-width: 342px;
    /*height: 400px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between;*/
    gap: 25px;

}

form{
    /*background-color: #5788a9;*/

}

#secao-cadastro{
    /*background-color: #ca7d19;*/
}

.estilo-formulario{
    background-color: var(--cor--azul-claro1);
    border: var(--borda);
    width: 100%;
}

main > div > p{
    background-color: aqua;
}

#secao-instalacao{
    background-color: #e82e12;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}